body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
  }
  nav {
    overflow: hidden;
    background-color: #000000;
    border-bottom: 1px solid rgb(247, 115, 7);
    position: ;
  }
  nav a { 
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  nav a:hover {
    background-color: #f2f2f2;
    color:#000000;
  }
  nav a.active {
    background-color: rgb(247, 115, 7);
    color: #ffffff;
  }
  .bg-image {
    background-image: url("background.jpg");
    height: 100%;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   filter: blur(5px);
   -webkit-filter: blur(5px);
  }
  .contain {  
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     width: 35%;
     padding: 20px;
    text-align: center;
    border-radius: 15px;
  }
#text {
  width: 400px;
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: rgb(255, 94, 0);
  font-weight: bold;
  border: 3px solid #ffffff;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
   width: 50%;
   padding: 20px;
  text-align: center;
  border-radius: 15px;
  font-size: 40px;
}
#in1 {
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #ffffff;
   width: 20%;
   padding: 20px;
  text-align: center;
  border-radius: 80px;
  font-size: 40px;
}